# Frontend
app/frontend/node_modules/
app/frontend/dist/
app/frontend/.env
app/frontend/.env.local
app/frontend/.env.development.local
app/frontend/.env.test.local
app/frontend/.env.production.local
app/frontend/npm-debug.log*
app/frontend/yarn-debug.log*
app/frontend/yarn-error.log*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environment variables
.env
.venv
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 